.login-prompt {
    text-size-adjust: 100px;

}

body {

    background-color: rgb(2, 138, 97);
}

h1 {
    font-family: 'Permanent Marker', cursive;
    padding-left: 15px;
    color: rgb(0, 0, 0);
    font-size: 45px;
}

h2 {
    font-family: 'Source Serif Pro', serif;
    color: rgb(0, 0, 0);

}

a {
    font-family: 'Source Serif Pro', serif;
    color: rgb(0, 0, 0);
}

.img {
    display: flex;
    flex-wrap: wrap;
}

.img p {

    margin: 25px;
}


.checked {
    color: orange;
}

hr {

    color: black;
}