<!DOCTYPE html>
<html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/styles.css">
      <title>Document</title>
    </head>

    <body>
      {% csrf_token %}
      
      <div id='app'>
        <h1>Book Quest</h1>
          <label for="value">Name of book:</label>
          <select id="value" name="value" v-model="selectedType">
              <option value="title">Title</option>
          </select>
          <input @keyup.enter="userSearch" type="text" placeholder="Search" v-model="userText"></input>
          <button @click="userSearch">Submit</button>

          <div class="container">
              <ol v-if="Object.keys(userResults.docs).length">
                  <li v-for="item in userResults.docs" :key="item.key">
                      <h2> {{ item.title }} </h2>
                      <h4> by{{item.author_name}} </h4>
                      <hr>

                      <div class="img" v-for="insideIsbn in item.isbn" :key="insideIsbn">
                          <p><a :href="`https://openlibrary.org/isbn/${insideIsbn}`" target="_blank">
                                  <img :src="`https://covers.openlibrary.org/b/isbn/${insideIsbn}-M.jpg`" /></a></p>
                          <br>
                      </div>
                    </li>
                </ol>
            </div>
          {%block content%}

          {%endblock%}
      </div>



      <script src="https://unpkg.com/vue@2"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="/static/main.js"></script>
    </body>
</html>
